.mobile-nav__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;

  padding: 30px 20px;
  color: var(--footer-text-color);
  background-color: var(--footer-bg);
}
.mobile-nav {
}
.mobile-nav__item {
}
.mobile-nav__link {
}
.mobile-nav__link--dropdown {
}
.mobile-sub-nav {
}
.mobile-sub-nav__item {
}
.mobile-sub-nav__link {
}
